//variables para los colores tomados de: http://chir.ag/projects/name-that-color
$maxwell-white: #FFFFFF;
$maxwell-ripe-plum: #33005F;
$maxwell-tolopea: #240043;
$maxwell-pigment-indigo:#4A0089;
$maxwell-selective-yellow:#F4BB00;
$maxwell-black: #000000;

//Breackpoints para que el sitio sea responsive
$maxwell-tablet: 768px;
$maxwell-desktop: 1024px;